@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";
@plugin 'tailwind-scrollbar';

body {
    background-color: black;
}

@theme {
    --color-dark: #121212;
    --color-buttonBlue: #4150F7;
    --color-deepGray: #363636;
    --color-liteGray: #A8A8A8;
}